[submodule "crates/rusty_bar/libs/spring"]
	path = crates/rusty_bar/libs/spring
	url = https://github.com/beyond-all-reason/spring
[submodule "libs/rwkv-tokenizer"]
	path = libs/rwkv-tokenizer
	url = https://github.com/computer-whisperer/rwkv-tokenizer
[submodule "libs/candle"]
    path = libs/candle
    url = https://github.com/computer-whisperer/candle
[submodule "libs/RWKV-block"]
	path = libs/RWKV-block
	url = https://github.com/RWKV/RWKV-block
