[submodule "crates/rusty_bar/libs/spring"]
	path = crates/rusty_bar/libs/spring
	url = https://github.com/beyond-all-reason/spring
[submodule "libs/RWKV-burn"]
	path = libs/RWKV-burn
	url = git@github.com:computer-whisperer/RWKV-burn.git
